*{
    margin:  0;
    padding: 0;
}
.container {
    display: flex;
}

.cards-container{
    min-height: 100vh;
    width: 696px;
    background-color: #52429B;
}

.chart-container{
    min-height: 100vh;
    width: calc(100vw - 696px);
    background-color: #08021E;
}

.cards-title{
    padding-top: 63px;
    text-align: center;
    color: white;
    letter-spacing: 0.05em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    overflow: hidden;
}

.chartContainer{
    margin: 10% auto;
    /* transform: translateY(-70%); */
}
.chart{
    width: 50%;
    padding: 20px;
}
.countryContainer {
    margin: 35px auto;
    width: 521px;
    height: 71px;
}

@media (max-width: 1300px){
    .container{
        flex-direction: column;
    }
    .cards-container{
        width:100vw;
    }
    .chart-container{
        display: none;
    }
    .countryContainer{
        width: 300px;
    }
    .cards-title{
        font-size: 30px;
        letter-spacing: 0;
        overflow: hidden;
    }
}